/*---------------------------
	Fonts
----------------------------*/

// fonts
$base-font-size: 15;
$base-font: 'Inter', sans-serif;
$heading-font:'DM Sans', sans-serif;

// color
$dark-gray: #000B47;//
$body-color: #687693;
$white: #fff;
$black: #000;
$cyan: #848892;

$theme-primary-color: #5483ED;//
$theme-primary-color-s2: #5483ED;//
$theme-primary-color-s3: #F97D7F;//
$theme-primary-color-s4: #7DC370;//
$theme-primary-color-s5: #8956B3;//
$body-bg-color: #fff;
$section-bg-color: #f2f2f280;
$text-color: #525252;//
$heading-color: $dark-gray;
$border-color: #3F3C4D;//
$border-color-s2: #D9D9D9;//